<mat-toolbar class="div"> 
    <div class="searchBox">
        <div class="box1">
            <div class="searchTxtBox">
            <!-- <form class="search-form inputSize ">
                <mat-form-field class="example-full-width inputSize" floatLabel="never" >
                    <input class="toolbar-search" type="text" matInput (keypress)="keyPress($event)">
         
                </mat-form-field>
            </form> -->
            <input type="text" class="input" autofocus placeholder="search 24 shop">
            </div>
        </div>
        <div class="box2"  [routerLink]="'/search'">
            <span class="searchTxt">Search Product</span>
            <mat-icon matSuffix style="font-size: 1.2em;color: #fff;">search</mat-icon>
        </div>
    </div>
       
   
</mat-toolbar>



<router-outlet></router-outlet>

