<mat-toolbar class="div"> 
    <div class="searchBox">
        <div class="box1">
            <div class="searchTxtBox">
    
                <input type="text" class="input" (click)="valueSet()" [(ngModel)]="search" autofocus placeholder="search 24 shop">

            </div>
        </div>
        <div class="box2" (click)="valueSet()">
            <span class="searchTxt">Search Product</span>
            <mat-icon matSuffix style="font-size: 1.2em;color: #fff;">search</mat-icon>
            
        </div>
        <!-- <ais-instantsearch [config]="config">
            <ais-search-box class="input" (change)="onSearch($event)"></ais-search-box>
            <ais-hits *ngIf="showResults">
              <ng-template let-hits="hits">
                <ol class="ais-Hits-list">
                  <li *ngFor="let hit of hits" class="ais-Hits-item">
                   {{hit.name}}
                  </li>
                </ol>
              </ng-template>
            </ais-hits>
          </ais-instantsearch> -->
    </div>

   
</mat-toolbar>



<router-outlet></router-outlet>

