.mat-toolbar {
  background-color: #00b712;
  background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
  color: white;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.mat-button {
  color: black;
  font-size: 12px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

.mat-button:hover {
  color: white;
  background-color: transparent;
}
.icnCart:hover {
  color: white;
}


.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

// ************************
.mat-toolbar {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}


.div1 {
  // background-color: rebeccapurple;
  flex: 1;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.div2 {
  flex: 2;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.div2-sub {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
.div3 {
  flex: 1;
  display: flex;
  height: 60%;
  align-items: center;
  justify-content: flex-end;
  // background-color: yellow;
}

.inputSize {
  width: 90%;
  height: 100%;
}

.icnCart {
  // padding-right: 20px;
  color: black;
  cursor: pointer;
  overflow: hidden;
}
.icn {
  color: black;
  overflow: hidden;
}

// *********** media quary ***************
@media only screen and (max-width: 768px) {
  .icnCart {
    font-size: 18px;  
  }
  .icn {
    font-size: 18px;  
  }
  .mat-button {
    font-size: 11px;
    color: rgb(0, 0, 0);
    text-align: center;
  }

  .mat-toolbar {
    // background-color: #27AE4B;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;

  }

  .imgSize {
    width: 40px;
    cursor: pointer;
    &:hover {
      width: 42px;
    }
  }

  .div1 {
    display: none;
  }

  .div2 {
    flex: 1;
    width: 100%;
    justify-content: center;
  }
  .div3 {
    flex: 0;
  }
  .icnCart {
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: black;
    font-size: 24px;
    background-color: #00b712;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  }

  .mat-toolbar {
    // background-color: #27AE4B;
    color: white;
    display: flex;
    justify-content: flex-start;

  }
}

@media only screen and (min-width: 768px) {
  .imgSize {
    width: 60px;
    display: flex;
    padding-left: 10px;
    cursor: pointer;
    &:hover {
      width: 61px;
    }
  }

  .logoTxt {
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
  }

  button {
    display: none;
  }

  .example-container {
    display: none;
  }
}

.activated-route {
  &:focus{
    color: gray !important;
  }
}