    <mat-toolbar> 
    <div class="div1">

      <img class="imgSize"  src="../../../assets//logos//24shop.png" alt="Photo of a Shiba Inu">
  </div>


<div class="div2">      
    <!-- <div fxHide.gt-xs> 
        <button mat-icon-button>

            <mat-icon>menu</mat-icon>
        </button>
    </div> -->
    <!-- <mat-icon class="icnCart">shopping_cart</mat-icon> -->
    <a mat-button routerLink="/home">Home</a>
    <!-- <mat-icon class="icnCart">shopping_cart</mat-icon> -->
    <a mat-button routerLink="/category">category</a>
    <!-- <mat-icon class="icnCart">shopping_cart</mat-icon> -->
    <a mat-button routerLink="/product">product</a>
    <!-- <mat-icon class="icnCart">shopping_cart</mat-icon> -->
    <a mat-button routerLink="/contact">contact</a>
    <!-- <mat-icon class="icnCart">shopping_cart</mat-icon> -->
    <a mat-button routerLink="/about">about</a>
</div>


<div class="div3">
  <span class="priceTag">0.00</span>
      <mat-icon class="icnCart">shopping_cart</mat-icon>

</div>
</mat-toolbar>
