<div class="bannerBody">
    <!-- <img src="../../../../assets/adds/banner.png" class="bannerImg"> -->
    <div class="container ">
        <div [@slideAnimation]="currentIndex" class="ng-tmp">
          <ng-template ngFor [ngForOf]="slides" let-slide let-i="index" class="ng-tmp">
            <img class="slide slide-animation nonDraggableImage" *ngIf="isCurrentSlideIndex(i)" (swiperight)="nextSlide()"
              (swipeleft)="prevSlide()" [src]="slide.image">
          </ng-template>
        </div>
  

      </div>
</div>