.catbody {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
    align-items: center;
}

@media only screen and (max-width: 1169px) {
    .catbody {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        
        align-items: center;
    }
    .mat-tab-link  {
        color: black;
        font-weight: bold;
        padding-left: 0px;
        padding-right: 0px;
    
     }
    
}

.example-button-toggle-label {
    display: inline-block;
    margin: 16px;
  }

  .bgColor {
      background-color: green;
  }

  .tabBody {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .mat-tab-body-wrapper {
    display: none;
 }

 .body2 {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
    
 }
 .mat-tab-link  {
    color: black;
    font-weight: bold;
    padding-left: 70px;
    padding-right: 70px;

 }
