
<div class="snow"> 
   
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>
    <div class="snowflake"> <span></span></div>

  </div>
<app-nav-bar-component></app-nav-bar-component>
<router-outlet></router-outlet>
<lib-ng-toast></lib-ng-toast>
