mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
mat-sidenav {
    width: 250px;
}
main {
    padding: 10px;
}



// @function random_range($min, $max) {
//     $rand: random();
//     $random_range: $min + floor($rand * (($max - $min) + 1));
//     @return $random_range;
//   }
  
//   .snow {
//     $total: 200;
//     position: absolute;
//     width: 30px;
//     height: 30px;
//     font-size: 30px;
//     border-radius: 50%;
//     pointer-events: none;
//     color: #a3b1bc;
//     overflow: hidden;
//     z-index: 9999;
  
//     @for $i from 1 through $total {
//       $random-x: random(900000) * 0.0001vw;
//       overflow: hidden;
//       $random-offset: random_range(-100000, 100000) * 0.0001vw;
//       $random-x-end: $random-x + $random-offset;
//       $random-x-end-yoyo: $random-x + ($random-offset / 2);
//       $random-yoyo-time: random_range(30000, 80000) / 100000;
//       $random-yoyo-y: $random-yoyo-time * 100vh;
//       $random-scale: random(10000) * 0.0001;
//       $fall-duration: random_range(10, 30) * 1s;
//       $fall-delay: random(30) * -1s;
  
//       &:nth-child(#{$i}) {
//         opacity: random(8000) * 0.0001;
//         transform: translate($random-x, -10px) scale($random-scale);
//         animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
//       }
  
//       @keyframes fall-#{$i} {
//         #{percentage($random-yoyo-time)} {
//           transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
//         }
  
//         to {
//           transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
//         }
//       }
//     }
//   }



.snow {
	position: absolute;
	width: auto;
	height: auto;
  color: rgb(177, 174, 174);
	// left: -10vw;
  z-index: 99999;
}

.snowflake {
	$snowflakes: 200;
	position: absolute;
	top: -5vmin;
	@for $i from 1 through $snowflakes {
		&:nth-child(#{$i}) {
			opacity: random(90) * 0.01;
			font-size: (random(5) * 3px);
			left: random(900) * 0.1vw;
			animation: fall-#{$i}	(random(5) * 10s)	(random(25) * -1.5s) ease-in infinite;
			span {
				animation: spin (random(5) * 3s) linear 0s infinite;
				filter: drop-shadow(0 0 (random(5) * 1px) #fff);
			}
		}
		@keyframes fall-#{$i} {
			#{percentage( random(50) / 600 )} {	transform: rotate(90deg) translateX(0);	}
			to { transform: rotate(90deg) translateX(calc(90vh + 5vmin)); left: random(900) * 0.1vw; }
		}
	}
	span {
		display: block;
		color: rgb(229, 255, 190);
    z-index: 9999;
		&:before {
			content: "\2744";
		}
	}
	&:nth-child(4n+2) span:before {
		content: "\2745";
	}
	&:nth-child(4n+3) span:before {
		content: "\2747";
	}
	&:nth-child(4n+4) span:before {
		content: "\274B";
	}
}

@keyframes spin {
	  0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg);	}
}
