<div class="deliBg">
    <div class="div2">
        <img class="img" src="{{imgUrl}}" alt="">
    </div>

    <div class="div1">
        <div class="box1" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom">
          <p>The prices of all the items on the Website are the latest prices and if the prices change, you will be notified by phone or any other way before the order is delivered to you and if you do not purchase the item there, you will be able to purchase another item to replace that item.</p>
        </div>
        <div class="box1" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom">
            <p>We will deliver the order to you within 24 hours after ordering and delivery charges will be charged.That fee is added to the total order of the goods on the website. It is mentioned in a separate item called Delivery Fee.</p>
        </div>
        <div class="box1" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom">
            <p>Items from all retail and supermarkets are included in 24shop.lk and you can easily select and order those items after searching.We have included Sinhala language to make it easier for you to search for items besides English.
                If the goods or items are not purchased after the order has been placed, the order of goods or items can be canceled till we confirm the order and after confirming the order it cannot be canceled.The order will be confirmed after 12 hours of purchasing
                </p>
        </div>
        <div class="box1" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom">
            <p>Payment will only be charged from you when the goods and services are received. We have not updated your online or other payment methods yet and will update as soon as possible.</p>
        </div>
        <div class="box1" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom">
            <p>You can proceed the payment after checking the order and once the payment has proceeded there will be no refund, exchanging or cancelation of order.If there's any issue or expiration of goods and merchandise, will be exchanged within 4 hours and the order will not be canceled or refunded for any reason.</p>
        </div>
        <div class="box1" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom">
            <p>You do not need to register when selecting and searching for the goods but you need to be registered when ordering the goods and you can not buy the goods without registering. Once you've registered you don't need to register again. When registering; Name, NIC number, telephone numbers, e-mail addresses and residential addresses must be entered and must be factual information. It is also possible for registrants to change them. Strict legal action will be taken against those who mislead and commit fraudulent activities.</p>
        </div>
        <div class="box1" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom">
            <p>The order will be delivered to the address you provided to us and if you wish to deliver the order to another location, you can call our company or contact us via WhatsApp or Facebook and let us know where the changed location is and the order. will be delivered to that location.</p>
        </div>
    </div>
    
  </div>