.card {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  max-width: 220px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: none; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:auto;
  margin-right:auto;  
  vertical-align:middle;
  cursor: pointer;
}
.card:hover {
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
	}

  .btnSection {
    display: flex;
    background-color: #00b712;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.btnAddCart {
  background-color: #00b712;
  background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
  color: white;
  height: 33px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


.btnAddCart:hover {
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  background-color: #00b712;
  background-image: linear-gradient(315deg, #5aff15 0%, #00b712 74%);
	}
  mat-card-title {
    font-size: 18px;
  }

  mat-card-subtitle {
    font-size: 16px;
  }

  .disTxt {
    font-size: 14px;
    text-decoration: line-through;
  }

  .addBtn {
    background-color: #5aff15;
    color: white;
    height: 23px;
    width: 60px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  mat-card-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .icnCart {
    font-size: 18px;
  }

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .imgEffect {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .img {
    width: 90px;
    height: auto;
    margin: auto;
  }

  .titleTxt {
    height: 60px;
    width: 100%;
    overflow: hidden;
  }