<div class="body">
    <!-- <div class="box">
            <p class="title">We Are 24 shop . Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, a earum rerum porro accusantium neque quod doloribus veritatis, assumenda pariatur ex quas quia facere iusto distinctio in vel eos dicta. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi distinctio eligendi cumque dolorem error, perspiciatis reiciendis veritatis nam quidem. Minima itaque modi facere nesciunt autem impedit, debitis incidunt sint repellat!Lorem</p>
    </div> -->
    <div class="box">
        <div class="profile">
             <img src="../../../assets/logos/24shop.png" >
        </div>
        <br>
      <p class="titleMain">I'm Sandun and I'm owner of 24 shop</p>
      <p class="title">24shop.lk is one of the best online shopping center if you need any food city item you can buy it
        any time and we will delivery in just 24 hours.</p>
      <p class="title">We have more stock of items and we have quality and best product.. If you have any question or
        need to ask anything please contact us.. We are only delivery kaluthara district only. Thank you for choosing us
        come again !!</p>
</div>
</div>
<router-outlet></router-outlet>
