.body {
    // background: rgb(90,255,21);
    // background: radial-gradient(circle, rgba(90,255,21,0.8939950980392157) 0%, rgba(90,255,21,0.6334908963585435) 35%, rgba(0,212,255,0) 100%);
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
  width: 70%;
  height: 80vh;
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1px greenyellow solid;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  justify-content: center;
  padding: 20px;
  margin: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.box:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  border: 2px greenyellow solid;

}

.title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-size: 18px;
}

.titleMain {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .title {
    font-size: 14px;
  }
  .titleMain {
    font-size: 14px;
  }
  .body {
    flex-direction: column;
    height: auto;
  }
  .box {
    height: auto;
    width: 90%;
  }
}

.profile {
  width: 100px;
  height: 100px;
  img {
    width: 100%;
  }
}

.imgBox {
  width: 250px;
  height: auto;
}

.img {
  width: 90%;
}
