<div class="body">
    <div class="box">
            <p class="title">We Are 24 shop . Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, a earum rerum porro accusantium neque quod doloribus veritatis, assumenda pariatur ex quas quia facere iusto distinctio in vel eos dicta. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi distinctio eligendi cumque dolorem error, perspiciatis reiciendis veritatis nam quidem. Minima itaque modi facere nesciunt autem impedit, debitis incidunt sint repellat!Lorem</p>
    </div>
</div>
<router-outlet></router-outlet>