<div class="body">
    <div class="box">
            <p class="title">We Are 24 shop . Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, a earum rerum porro accusantium neque quod doloribus veritatis, assumenda pariatur ex quas quia facere iusto distinctio in vel eos dicta. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi distinctio eligendi cumque dolorem error, perspiciatis reiciendis veritatis nam quidem. Minima itaque modi facere nesciunt autem impedit, debitis incidunt sint repellat!Lorem</p>
    </div>
    <div class="box">
        <div class="profile"></div>
        <br>
        <p class="titleMain">I'm jhon and I'm owner of 24 shop</p>
        <p class="title">I'm from baduraliya and we are mainly focus give you to best service. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, voluptas ad aspernatur, quos beatae dicta facere, hic dolorum repellendus repudiandae accusantium.</p>
</div>
</div>
<router-outlet></router-outlet>