<div class="bodyTitle" [@photosAnimation]="1">
    <div class="bodyTitleBox"> 
        <p class="title">Our Tranding Product Category</p>
        <p class="subTitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio consectetur nisi, aut ab distinctio hic! Perspiciatis tempore laboriosam provident minus dolor, accusamus fugit deserunt optio. In ab veritatis voluptatum neque.</p>
    </div>
</div>
<app-category-card-component></app-category-card-component>
<br>
<router-outlet></router-outlet>