<div class="body">
    <div class="box">
            <p class="title">Hello We Are 24 Shop You Can Contact Us</p>
    
            <div class="social-links">
                <a href=""><i class="fab"> <mat-icon>facebook</mat-icon></i></a>
                <a href=""><i class="fab"> <mat-icon>email</mat-icon></i></a>
                <a href=""><i class="fab"> <mat-icon>ondemand_video</mat-icon></i></a>
                <a href=""><i class="fab"> <mat-icon>phone_callback</mat-icon></i></a>
                <a href=""><i class="fab"> <mat-icon>whatsapp</mat-icon></i></a>
              </div>

    
          
    </div>
</div>
<router-outlet></router-outlet>