<div class="deliBg">
    <div class="div1">
        <div class="box1">
          <h3 class="txtHeader">If you have any problem ?</h3>
        </div>
        <div class="box1">
          <h1 class="txtTitle">Contact Anytime</h1>
        </div>
        <div class="box1">
          <div class="social-links">
              <a href=""><i class="fab">
                      <mat-icon>facebook</mat-icon>
                  </i></a>
              <a href="24shopsrilanka@gmail.com"><i class="fab">
                      <mat-icon>email</mat-icon>
                  </i></a>
              <a href=""><i class="fab">
                      <mat-icon>ondemand_video</mat-icon>
                  </i></a>
              <a href="0766616402"><i class="fab">
                      <mat-icon>phone_callback</mat-icon>
                  </i></a>
              <a href="0766616402"><i class="fab">
                      <mat-icon>whatsapp</mat-icon>
                  </i></a>
          </div>
      </div>

       
        <div class="box1">
        <p class="txtBody">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quia debitis quisquam porro officiis mollitia reiciendis quo, quas dicta quis optio hic? Eos aliquam enim nihil dolorum, perspiciatis molestiae rem!</p>

        </div>
        <div class="box1">
          <h1 class="txtPrice">078 4565 455</h1>
        </div>
    </div>
    <div class="div2">
        <img class="img" src="{{imgUrl}}" alt="">
    </div>
  </div>
    
        
<router-outlet></router-outlet>