<div class="body"> 
   
    <div class="contentBody">
        <div class="box">
            <p class="title"><span class="txtHightlight">24 Shop</span> is an online shop. All the items in food city and Retail stores can be purchased from <span class="txtHightlight">24 Shop</span> and you can get a speed Service.</p>
    
        </div>
        <div class="box">
           
    
            <div class="social-links">
                <a href=""><i class="fab">
                        <mat-icon>facebook</mat-icon>
                    </i></a>
                <a href="24shopsrilanka@gmail.com"><i class="fab">
                        <mat-icon>email</mat-icon>
                    </i></a>
                <a href=""><i class="fab">
                        <mat-icon>ondemand_video</mat-icon>
                    </i></a>
                <a href="0766616402"><i class="fab">
                        <mat-icon>phone_callback</mat-icon>
                    </i></a>
                <a href="0766616402"><i class="fab">
                        <mat-icon>whatsapp</mat-icon>
                    </i></a>
            </div>
    
    
    
        </div>
        <div class="box">
            <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo optio voluptatum, provident
                quidem nemo quibusdam recusandae, assumenda </p>
        </div>
    </div>
    <div class="navBody">
        <div class="navbar">
            <p class="title">We Are 24 Shop You Can Contact Us</p>
        </div>
    </div>
</div>
<router-outlet></router-outlet>