// .catBg {
//   background-color: rgb(68, 212, 11);
//   padding: 2px;
// }
.btnAddCart {
  font-size: 24px;
  color: black;
  text-align: center;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

mat-card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}


.imgEffect {
  // border: 2px solid #5aff15;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  &:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    cursor: pointer;
  }
}

.img {
  width: 100%;
  height: 100%;

}
