<div data-aos="zoom-out" fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayout.lt-sm="column wrap" fxLayout.lt-md="column wrap" fxLayoutAlign="center" fxLayoutGap="25px">
  <div fxFlex={{fxFlex}} *ngFor="let num of currentData" class="catBg"  >

    <!-- <mat-card-header>
      Hello
    </mat-card-header> -->
    <div class="imgEffect" >
      <img mat-card-avatar class="img" src={{num.imgUrl}} (click)="goToCategory(num.title)">
    </div>
    <mat-card-actions>
      <p class="btnAddCart" mat-button (click)="goToCategory(num.title)">{{num.title}}</p>
    </mat-card-actions>

  </div>
</div>

