.mat-toolbar{
    background-color: #00b712;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
    height: 40vh;
    color: transparent;
    justify-content: space-around;
    z-index: 99;
}
.divBox {
    width: 100%;

    height: 100%;
    display: flex;
    flex-direction: row;
}
.side1{
    flex: 1;
    display: flex;
    flex-direction: column;
    line-break: inherit;
    justify-content: center;
    align-items: center;
    text-align-last: center;
    line-height: 1.6;
}
.side2{
    flex: 1;
    // background-color: rgb(41, 15, 187);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align-last: center;
    line-height: 1.6;
}

.side3{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
    text-align-last: right;

}
.logoFooter {
    color: #000000;
    font-weight: bold;
    font-size: 24px;
    text-align-last: left;
}
.addresstxt {
    color: rgb(0, 0, 0);
    font-size: 12px;
}
.spamClr {
    color: black;
}

.linktxt {
    color: #000000;
    font-size: 12px;
}

.linkTitle {
    font-size: 24px;
    font-weight: bold;
}

.contacttxt {
    color: #000000;
    font-size: 12px;
}

.followTitle {
    font-size: 24px;
    font-weight: bold;
    text-align-last: right;

}

.socialDiv {
    width: 60%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.box {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.sitemap1:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.sitemap2:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.sitemap3:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.sitemap4:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.sitemap5:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.socialIcon {
    color: #000000;
}
.socialIcon:hover {
  color: #6e706e;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .divBox {
        flex-direction: column;
        width: 100%;
    }
    .mat-toolbar{
        height: 100%;
        color: transparent;

    }
  }

  .pwp-list-group {

    color: #fff;
    max-width: 100%;
  }

    .pwp-list-group a {
      color: inherit;
      text-decoration: none;
    }

.footerEnd {
    background-color: #333333;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footerTxt {
    color: #00b712;
    text-align: center;
}
