<mat-toolbar class="list-group pwp-list-group striped-bg-right">
    <div class="divBox">
        <div class="side1">
            <!-- <p class="logoFooter"></p> -->
            <p class="addresstxt">
                <span class="logoFooter">24 Shop</span><br>
                Claritas est etiam processus dynamicus,<br> qui sequitur mutationem <br>consuetudium lectorum.
                <br><br><span class="spamClr"> Address : No 40 Baria Sreet 133/2,<br> NewYork, USA.</span>
            </p>
        </div>

        <div class="side2">
            <p class="linktxt">
                <span class="linkTitle">Usefull Links</span><br>
                <br>
                <span class="sitemap1">
                    Home<br>
                </span>
                <span class="sitemap2">
                    Privacy
                </span>
                <br>
                <span class="sitemap3">
                    Delivery
                </span><br>
                <span class="sitemap4">
                    Contact Us
                </span><br>
                <span class="sitemap5">
                    About
                </span><br>

                <br>
            </p>
        </div>

        <div class="side3">
            <p class="contacttxt">
                <span class="followTitle">Follow Us</span><br>
            </p>
            <div class="socialDiv">
                <div class="box">
                    <mat-icon class="socialIcon">facebook</mat-icon>
                </div>
                <div class="box">
                    <mat-icon class="socialIcon">email</mat-icon>
                </div>
                <div class="box">
                    <mat-icon class="socialIcon">messenger</mat-icon>
                </div>
                <div class="box">
                    <mat-icon class="socialIcon">linkedin</mat-icon>
                </div>
                <div class="box">
                    <mat-icon class="socialIcon">whatsapp</mat-icon>

                </div>
            </div>

            <p class="contacttxt">
                <span class="followTitle">Contact Us</span>
            </p>
            <p class="contacttxt">
                Phone : +(1234) 567 890
            </p>
            <p class="contacttxt">
                Email : demo@naturecircle.com
            </p>
        </div>
    </div>
</mat-toolbar>
<div class="footerEnd">
    <p class="footerTxt">Software Design By Wizlab Solution</p>
</div>