<mat-toolbar class="list-group pwp-list-group striped-bg-right">
    <div class="divBox">
        <div class="side1" data-aos="zoom-in-up">
            <!-- <p class="logoFooter"></p> -->
            <p class="addresstxt">
                <span class="logoFooter">24 Shop</span><br>
              Kaluthara District Online Shopping<br> Cash on delivery with 24 hours <br>Return accept <br>we have all the food city item 
              <br><br><span class="spamClr"> Baduraliya , Mathugama , Sri Lanka</span>
            </p>
        </div>

        

        <div class="side2" data-aos="zoom-in-up">
            <p class="linktxt">
                <span class="linkTitle">Usefull Links</span><br>
                <!-- <br> -->
                <span class="sitemap1" routerLink="/home">
                    Home<br>
                </span>
                <span class="sitemap2" routerLink="/privacy">
                    Privacy
                </span>
                <br>
                <span class="sitemap3" routerLink="/delivery">
                    Delivery
                </span><br>
                <span class="sitemap4" routerLink="/contact">
                    Contact Us
                </span><br>
                <span class="sitemap5" routerLink="/about">
                    About
                </span><br>

                <br>
            </p>
        </div>

        <div class="side3" data-aos="zoom-in-up">
            <p class="contacttxt">
                <span class="followTitle">Follow Us</span><br>
            </p>
            <div class="socialDiv">
              <a href="https://www.facebook.com/24-shop-103473685450215" class="box"><i class="fab">
                    <mat-icon class="socialIcon">facebook</mat-icon>
              </i></a>
              <a href="mailto:raunak.24shopsrilanka@gmail.com" class="box"><i class="fab">
                    <mat-icon class="socialIcon">email</mat-icon>
              </i></a>
              <a href="24shop.lk"  class="box"><i class="fab">
                <mat-icon class="socialIcon">ondemand_video</mat-icon>
              </i></a>
              <a href="tel:0702869724" class="box"><i class="fab">
                <mat-icon class="socialIcon">phone_callback</mat-icon>
              </i></a>
              
              <a href="https://api.whatsapp.com/send?phone=0766616702" class="box"><i class="fab">
                    <mat-icon class="socialIcon">whatsapp</mat-icon>
              </i></a>
            </div>

            <p class="contacttxt">
                <span class="followTitle">Contact Us</span>
            </p>
            <p class="contacttxt">
              Phone : 076 661 6702
            </p>
        
        </div>
        
        
    </div>

</mat-toolbar>
<div class="footerEnd" >
    <p class="footerTxt" > Software Design by Wizlab Solution</p>
</div>
