<div class="content">
    <div fxLayout="row wrap"  fxLayout.lt-sm="column wrap"  fxLayoutAlign="center" fxLayoutGap="10px">
      <div fxFlex="20%"  *ngFor="let num of currentData">
        <mat-card class="mat-elevation-z4 card" >
          <mat-card-header>
            <mat-card-title>Category Name </mat-card-title>
          </mat-card-header>
          <img  mat-card-image class="imgEffect" src="../../../../assets/categoryIcons/vegi.jpg">
          <mat-card-actions>
            <button mat-button>See more</button>
          </mat-card-actions>
        </mat-card>

  
      </div>
    </div>
    </div>