.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    margin: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}
.div-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
    flex-direction: column;

    .boxService {
        width:  90%;
        height: 50px;
        border: 1px solid red;
        margin: 20px
    }
}
.div-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
    flex-direction: column;
    text-align: start;

    .boxAdd {
        width:  90%;
        height: 70px;
        .txtTitle {
            font-size: 24px;
            font-weight: bold;
            font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        }
        .iNo {
            font-size: 14px;
            color: gray;
        }
    }
    .boxPri {
        width:  90%;
        height: 50px;
        .txtPrice {
            font-size: 28px;
            font-weight: bold   ;
        }
    }

    .boxDes{
        width:  90%;
        height: auto;
        .txtDes {
            font-size: 12px;
            font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        }
    }
    .boxQty {
        width:  90%;
        height: 50px;
        .qtyDiv {
            width: 200px;
            height: 33px;
            display: flex;
            flex-direction: row;
            .boxIcn {
                width: 60px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 10px;
                box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);

                &:hover {
                    background-color: #5aff15;
                    cursor: pointer;
                }
            }
            .boxIcn2 {
                width: 80px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                .txtQ {
                    display: flex;
                    font-weight: bold;
                    font-size: 18px;
                    text-align: center;
                    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
                }
            }
        }
    }
    .boxBtn {
        width:  90%;
        height: 50px; 
        .btnAdCart {
            color: white;
            width: 200px;
            height: 33px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            background-color: #00b712;
            background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
            font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
            &:hover {
                box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
                color: black;
                font-weight: bold;
            }
        }
    }
}
.div-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 0.7;
    flex-direction: column;

    .boxHeader {
        width:  90%;
        height: 70px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #00b712;
        background-image: linear-gradient(315deg, #00b712 0%, #5aff15 44%);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        

        .txtHeader {
            font-size: 18px;
            color: rgb(0, 0, 0);
            font-weight: 500;
            font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        }
    }
    .boxDetails {
        width:  90%;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
        height: 200px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom-right-radius: 20px;
        font-weight: 500;
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    }
    .boxPurchase {
        width:  90%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        .btnPurchase {
            color: white;
            width: 100%;
            height: 33px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
            background-color: #00b712;
            background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
            font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
            &:hover {
                box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
                font-weight: bold;
                color: black;
            }
        }
    }
}

.imgBox {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .img {
        width: 300px;
        height: 100%;
    }
}
@media only screen and (max-width: 956px) {
    .main-div {
        flex-direction: column;
        height: auto;
    }
    .div-1 {
        height: 50%;
        width: 100%;
    }
    .div-2 {
        height: 50%;
        width: 100%;
        text-align: center;
        .boxQty {
            width:  90%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .div-3 {
        height: 50%;
        width: 100%;
    }
    .imgBox {
        height: auto;
        height: auto;
        .img {
            width: 200px;
            height: auto;
        }
    }
}