<app-search-bar-component></app-search-bar-component>
<div class="main-div">
    <div class="div-1">
        <div class="imgBox">
            <img class="img" src="../../../assets/banners/spicy.png" alt="">
        </div>
        <div class="boxService">

        </div>
    </div>
    <div class="div-2">
        <div class="boxAdd">
            <p class="txtTitle">Hello dwuj hwdb</p>
            <p class="iNo">item no</p>
        </div>

        <div class="boxDes">
            <p class="txtDes">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem odit ipsa minus quibusdam animi amet consectetur voluptas! Accusamus odit eaque explicabo vel fugiat nemo sequi dolor. Delectus deserunt similique accusamus.</p>
        </div>
        <div class="boxPri">
            <p class="txtPrice">756.50</p>
        </div>
        <div class="boxQty">
            <div class="qtyDiv">
                <div class="boxIcn">
                    <mat-icon>remove</mat-icon>
                </div>
                <div class="boxIcn2">
                    <p class="txtQty">0</p>
                </div>
                <div class="boxIcn">
                    <mat-icon>add</mat-icon>
                </div>
            </div>
        </div>
        <div class="boxBtn">
            <button mat-button class="btnAdCart">Add to Cart</button>
        </div>
    </div>
    <div class="div-3">
        <div class="boxHeader">
            <p class="txtHeader">Door Step Delivery</p>
        </div>
        <div class="boxDetails">
            <p>Accept Payment After delivery</p>
            <p>Shipping Fast</p>
            <p>Return Accept</p>
            <p>24 hours delivery</p>

        </div>
        <div class="boxPurchase">
            <button mat-button class="btnPurchase">Purchase</button>
        </div>
    </div>
</div>
