<app-search-bar-component></app-search-bar-component>
<div class="main-div">
    <div class="div-1">
        <div class="imgBox">
            <img class="img" src="../../../assets/banners/spicy.png" alt="">
        </div>
        <div class="boxService">

        </div>
    </div>
    <div class="div-2">
        <div class="boxAdd"></div>
        <div class="boxTitle"></div>
        <div class="boxDes"></div>
        <div class="boxQty"></div>
        <div class="boxBtn"></div>
    </div>
    <div class="div-3">
        <div class="boxPrice"></div>
        <div class="boxAddress"></div>
        <div class="boxShipping"></div>
        <div class="boxTotal"></div>
        <div class="boxDeli"></div>
        <div class="boxContact"></div>
    </div>
</div>
