<app-search-bar-component></app-search-bar-component>
<div class="main-div"  *ngFor="let num of currentData"> 
    <div class="div-1">
        <div class="imgBox">
            <img class="img" src="{{num.imgUrl}}" alt="">
        </div>
        <!-- <div class="boxService">

        </div> -->
    </div>
    <div class="div-2"  >
        <div class="boxAdd">
            <p class="txtTitle">{{num.title}}</p>
            <p class="iNo">{{num.status}}</p>
        </div>

        <div class="boxDes">
            <p class="txtDes">{{num.description}}</p>
        </div>
        <div class="boxPri">
            <p class="txtPrice">LKR {{price}}.00</p>
        </div>
        <div class="boxQty">
            <div class="qtyDiv">
                <div class="boxIcn" (click)="min()">
                    <mat-icon>remove</mat-icon>
                </div>
                <div class="boxIcn2">
                    <label class="txtQ">{{qtyCount}}</label>
                </div>
                <div class="boxIcn" (click)="plus()">
                    <mat-icon>add</mat-icon>
                </div>
            </div>
        </div>
        <div class="boxBtn">
            <button mat-button class="btnAdCart" (click)="addtoCart(num)">Add to Cart</button>
        </div>
    </div>
    <div class="div-3">
        <div class="boxHeader">
            <p class="txtHeader">Door Step Delivery</p>
        </div>
        <div class="boxDetails">
            <p>Accept Payment After delivery</p>
            <p>Shipping Fast</p>
            <p>Return Accept</p>
            <p>24 hours delivery</p>

        </div>
        <div class="boxPurchase">
            <button mat-button class="btnPurchase"  [routerLink]="'/orderConfirm'">go to checkout</button>
        </div>
    </div>
</div>
