.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.div-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
    flex-direction: column;

    .boxService {
        width:  90%;
        height: 50px;
        border: 1px solid red;
        margin: 20px
    }
}
.div-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
    flex-direction: column;
    text-align: start;

    .boxAdd {
        width:  90%;
        height: 70px;
        .txtTitle {
            font-size: 24px;
            font-weight: bold;
        }
        .iNo {
            font-size: 14px;
            color: gray;
        }
    }
    .boxPri {
        width:  90%;
        height: 50px;
        .txtPrice {
            font-size: 28px;
            font-weight: bold   ;
        }
    }

    .boxDes{
        width:  90%;
        height: auto;
        .txtDes {
            font-size: 12px;
        }
    }
    .boxQty {
        width:  90%;
        height: 50px;
        .qtyDiv {
            width: 150px;
            height: 33px;
            border: 1px solid black;
            display: flex;
            flex-direction: row;
            .boxIcn {
                flex: 1;
                border: 1px solid black;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .boxIcn2 {
                flex: 1.5;
                border: 1px solid black;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                .txtQty {
                    font-weight: bold;
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
    }
    .boxBtn {
        width:  90%;
        height: 50px; 
        .btnAdCart {
            width: 50%;
            height: 33px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: #00b712;
            background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
        }
    }
}
.div-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 0.7;
    flex-direction: column;
    .boxHeader {
        width:  90%;
        border: 1px solid #00b712;
        height: 70px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #00b712;
        .txtHeader {
            font-size: 18px;
            color: white;
        }
    }
    .boxDetails {
        width:  90%;
        border: 1px solid #00b712;
        height: 200px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .boxPurchase {
        width:  90%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        .btnPurchase {
            width: 100%;
            height: 33px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: #00b712;
            background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
        }
    }
}

.imgBox {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .img {
        width: 300px;
        height: 100%;
    }
}
@media only screen and (max-width: 956px) {
    .main-div {
        flex-direction: column;
        height: auto;
    }
    .div-1 {
        height: 50%;
        width: 100%;
    }
    .div-2 {
        height: 50%;
        width: 100%;
        text-align: center;
        .boxQty {
            width:  90%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .div-3 {
        height: 50%;
        width: 100%;
    }
    .imgBox {
        height: auto;
        height: auto;
        .img {
            width: 200px;
            height: auto;
        }
    }
}