<div class="divBox">
  <div class="side1" data-aos="zoom-in-right" data-aos-duration="500" >

    <div class="side1Body">
      <div class="flexBoxFree">
      </div>
      <div class="flexBoxFree"  data-aos="fade-right"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
      data-aos-duration="1500">
        <img class="imgSize" src="../../../assets/logos/24shop.png" alt="Photo of a Shiba Inu">
      </div>
      <div class="flexBox">
        <p class="shopName">www.24shop.lk</p>

      </div>
      <div class="flexBox">
        <p class="welcome">Welcome EveryOne</p>

      </div>
      <div class="flexBox">
        <p class="shopNamed">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos est obcaecati laborum soluta
          omnis, quidem cumque quia, </p>

      </div>
      <div class="flexBox">
        <div class="social-links">
          <a href=""><i class="fab">
              <mat-icon>facebook</mat-icon>
            </i></a>
          <a href=""><i class="fab">
              <mat-icon>email</mat-icon>
            </i></a>
          <a href=""><i class="fab">
              <mat-icon>ondemand_video</mat-icon>
            </i></a>
          <a href=""><i class="fab">
              <mat-icon>phone_callback</mat-icon>
            </i></a>
          <a href=""><i class="fab">
              <mat-icon>whatsapp</mat-icon>
            </i></a>
        </div>
      </div>
<br>
      <div class="flexBox">
        <button class="shopbtn" >
          Shop Now
        </button>
      </div>
      <div class="flexBoxFree">
      </div>


    </div>
  </div>
  <div class="side2" data-aos="fade-left">
    <div class="container slider">
      <div [@slideAnimation]="currentIndex" class="ng-tmp">
        <ng-template ngFor [ngForOf]="slides" let-slide let-i="index" class="ng-tmp">
          <img class="slide slide-animation nonDraggableImage" *ngIf="isCurrentSlideIndex(i)" (swiperight)="nextSlide()"
            (swipeleft)="prevSlide()" [src]="slide.image">
        </ng-template>
      </div>


      <mat-icon class="arrow prev" (click)="nextSlide()">keyboard_arrow_left</mat-icon>

      <mat-icon class="arrow next" (click)="prevSlide()">keyboard_arrow_right</mat-icon>
    </div>
  </div>
</div>