<div class="divBox">
  <div class="side1">

    <div class="side1Body">

      <div class="welcome_flex">
        <p class="welcome">24 ONLINE SHOPPING <span class="span">CENTER</span>  </p>
        <!-- <p class="welcome">CENTER</p> -->
      </div>

      <div class="flexBox">
        <p class="description">24Shop is an online shop. All the items in Food City and Retail stores can be purchased
          from 24 shop and you can get speed Service. vash on delivery only accepted. 24Shop is an online shop. All the items in Food City and Retail stores can be purchased
          from 24 shop and you can get speed Service. vash on delivery only accepted. </p>
      </div>

      <br>
      <div class="flexBox_btn">
        <button class="shopbtn">
          Shop Now
        </button>
        <button class="registrationbtn">
          Registration
        </button>
    
       
      </div>


    </div>
  </div>
  <div class="side2">
    <div class="container slider">
      <div [@slideAnimation]="currentIndex" class="ng-tmp">
        <ng-template ngFor [ngForOf]="slides" let-slide let-i="index" class="ng-tmp">
          <img class="slide slide-animation nonDraggableImage" *ngIf="isCurrentSlideIndex(i)" (swiperight)="nextSlide()"
            (swipeleft)="prevSlide()" [src]="slide.image">
        </ng-template>
      </div>


      <mat-icon class="arrow prev" (click)="nextSlide()">keyboard_arrow_left</mat-icon>

      <mat-icon class="arrow next" (click)="prevSlide()">keyboard_arrow_right</mat-icon>
    </div>
  </div>
</div>


<!-- <div class="main_div">
  <div class="main_div_cover">
      <div [@slideAnimation]="currentIndex" class="ng-tmp slider">
        <ng-template ngFor [ngForOf]="slides" let-slide let-i="index" class="ng-tmp">
          <img class="response_img slide-animation nonDraggableImage" *ngIf="isCurrentSlideIndex(i)" (swiperight)="nextSlide()"
            (swipeleft)="prevSlide()" [src]="slide.image">
        </ng-template>
      </div>
  
  
      <mat-icon class="arrow prev" (click)="nextSlide()">keyboard_arrow_left</mat-icon>
  
      <mat-icon class="arrow next" (click)="prevSlide()">keyboard_arrow_right</mat-icon>
  </div>
</div> -->
