<div class="divBox">
  <div class="side1">

    <div class="side1Body">
      <div class="flexBoxFree">
      </div>
      <div class="flexBoxFree">
        <img class="imgSize" src="../../../assets/logos/24shop.png" alt="Photo of a Shiba Inu">
      </div>
      <div class="flexBox">
        <p class="shopName">www.24shop.lk</p>

      </div>
      <div class="flexBox">
        <p class="welcome">Welcome EveryOne</p>

      </div>
      <div class="flexBox">
        <p class="shopNamed">24Shop is an online shop. All the items in Food City and Retail stores can be purchased
          from 24 shop and you can get speed Service</p>

      </div>
      <div class="flexBox">
        <div class="social-links">
          <a href="https://www.facebook.com/24-shop-103473685450215" class="box"><i class="fab">
            <mat-icon class="socialIcon">facebook</mat-icon>
          </i></a>
        <a href="mailto:24shopsrilanka@gmail.com" class="box"><i class="fab">
            <mat-icon class="socialIcon">email</mat-icon>
          </i></a>
        <a href="intent://https://www.instagram.com/24shop.lk//_n/mainfeed/#Intent;package=com.instagram.android;scheme=https;end" class="box"><i class="fab">
            <mat-icon class="socialIcon">photo_library</mat-icon>
          </i></a>
        <a href="tel:0766616702" class="box"><i class="fab">
            <mat-icon class="socialIcon">phone_callback</mat-icon>
          </i></a>

        <a href="whatsapp://send?abid=+94766616702&text=Hello%2C%2024shop!" class="box"><i class="fab">
            <mat-icon class="socialIcon">whatsapp</mat-icon>
          </i></a>
        </div>
      </div>
      <br>
      <div class="flexBox">
        <button class="shopbtn">
          Shop Now
        </button>
      </div>
      <div class="flexBoxFree">
      </div>


    </div>
  </div>
  <div class="side2">
    <div class="container slider">
      <div [@slideAnimation]="currentIndex" class="ng-tmp">
        <ng-template ngFor [ngForOf]="slides" let-slide let-i="index" class="ng-tmp">
          <img class="slide slide-animation nonDraggableImage" *ngIf="isCurrentSlideIndex(i)" (swiperight)="nextSlide()"
            (swipeleft)="prevSlide()" [src]="slide.image">
        </ng-template>
      </div>


      <mat-icon class="arrow prev" (click)="nextSlide()">keyboard_arrow_left</mat-icon>

      <mat-icon class="arrow next" (click)="prevSlide()">keyboard_arrow_right</mat-icon>
    </div>
  </div>
</div>