<div class="deliBg">
  <div class="div1">
      <div class="box1">
        <h3 class="txtHeader">Service Guarantee</h3>
      </div>
      <div class="box1">
        <h1 class="txtTitle">Delivery Service</h1>
      </div>
      <div class="box1">
        <p class="txtBody">We will deliver the order to you within 24 hours after ordering and delivery charges will be
          charged.That fee is added to the total order of the goods on the website. It is mentioned in a separate item
          called Delivery Fee.</p>
      </div>
      <div class="box1">
        <h1 class="txtPrice">490/=</h1>
      </div>
      <div class="box1">
        <button mat-button class="btn" (click)="contact()">Please contact For more details</button>
      </div>
  </div>
  <div class="div2">
      <img class="img" src="{{imgUrl}}" alt="">
  </div>
</div>
